/* Background */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(270deg, #020024, #090979, #00d4ff);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
    color: #00ffff;
}

/* Animation */
@keyframes bgMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* Center layout */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card UI */
.card {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    width: 320px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid cyan;
    box-shadow: 0 0 25px cyan;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: black;
    border: 1px solid cyan;
    border-radius: 6px;
    color: cyan;
}

/* Buttons */
button {
    width: 100%;
    padding: 12px;
    background: cyan;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00ffff;
    box-shadow: 0 0 10px cyan;
}

/* Links */
a {
    color: #00ffff;
}

/* Dashboard */
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-box {
    padding: 40px;
    border-radius: 12px;
    border: 1px solid cyan;
    box-shadow: 0 0 25px cyan;
    background: rgba(0,0,0,0.7);
}